<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#"><img
src="/assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" routerLink="">Trips<span class="
sr-only ">(current)</span></a>
        </div>
    </div>
    <div class="auth-buttons">
        <ng-container *ngIf="!isLoggedIn()">
            <button class="btn btn-primary" routerLink="login">Login</button>
            <button class="btn btn-secondary" routerLink="register">Register</button>
        </ng-container>
  
        <button class="btn btn-primary" *ngIf="isLoggedIn()" (click)="onLogout()">Logout</button>
    </div>
</nav>